/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
:root {
    --modevol-d-color: rgb(75, 153, 211);
    --modevol-d-background-color: rgba(75, 153, 211, 0.3);

    --modevol-e-color: rgb(205, 82, 85);
    --modevol-e-background-color: rgba(205, 82, 84, 0.3);

    --modevol-t-color: rgb(235, 171, 55);
    --modevol-t-background-color: rgba(235, 172, 55, 0.3);

    --modevol-v-color: rgb(85, 114, 241);
    --modevol-v-background-color: rgba(85, 114, 241, 0.3);

    --modevol-c-color: rgb(201, 201, 201);
    --modevol-c-background-color: rgba(201, 201, 201, 0.3);
}

.mv-label {
    border-width: 1px;
    border-style: solid;
    border-radius: var(--tag-radius);
    font-size: var(--tag-size);
    padding: 1px var(--tag-padding-x);
}
a.mv-label{
    text-decoration-line:none;
    pointer-events:none;

}

.mv-label-active{
    color: var(--heading-formatting);
    border: 0 none;
    background-color: rgba(0,0,0,0);
}

.mv-label-d {
    color: var(--modevol-d-color);
    background-color: var(--modevol-d-background-color);
    border-color: var(--modevol-d-color);
}
.mv-label-d:hover{
    color: var(--modevol-d-color);
}
.mv-label-e {
    color: var(--modevol-e-color);
    background-color: var(--modevol-e-background-color);
    border-color: var(--modevol-e-color);
}

.mv-label-t {
    color: var(--modevol-t-color);
    background-color: var(--modevol-t-background-color);
    border-color: var(--modevol-t-color);
}

.mv-label-v {
    color: var(--modevol-v-color);
    background-color: var(--modevol-v-background-color);
    border-color: var(--modevol-v-color);
}

.mv-label-c {
    color: var(--modevol-c-color);
    background-color: var(--modevol-c-background-color);
    border-color: var(--modevol-c-color);
}

.mv-content-d {
    border-left: 2px solid var(--modevol-d-color);
}
.mv-dot-d{
    padding: 1px var(--tag-padding-x);
    text-decoration-line:none;
    pointer-events:none;
    background-color: var(--modevol-d-background-color);
    border-radius: var(--tag-size );
    border: 2px solid var(--modevol-d-color);
}

/* perview */
.mv-pre-label {
    display: flex;
    align-items: center;
    margin-left: -1em;
}
.mv-pre-icon{
    display: flex;
    align-items: center;
    margin-right: 0em;
}
.mv-pre-c{
    margin-right: 0em;
}
.mv-pre-title{
    font-size: 0.8em;
}

.mv-pre-label.mv-d{
    color: var(--modevol-d-color);
}
.mv-pre-label.mv-e{
    color: var(--modevol-e-color);
}
.mv-pre-label.mv-t{
    color: var(--modevol-t-color);
}
.mv-pre-label.mv-v{
    color: var(--modevol-v-color);
}
.mv-pre-label.mv-c{
    color: var(--modevol-c-color);
}
/* header  */

/* .markdown-preview-view h1::before{
    content: 'H1';
    font-size: 0.6em;
    margin-left: -23.4px;
    color: var(--text-muted);
}

.markdown-preview-view h2::before{
    content: 'H2';
    font-size: 0.5em;
    margin-left: -20.5px;
    color: var(--text-muted);
}
.markdown-preview-view h3::before{
    content: 'H3';
    font-size: 0.5em;
    margin-left: -19.5px;
    color: var(--text-muted);
}
.markdown-preview-view h4::before{
    content: 'H4';
    font-size: 0.5em;
    margin-left: -19.5px;
    color: var(--text-muted);
}
.markdown-preview-view h5::before{
    content: 'H5';
    font-size: 0.4em;
    margin-left: -15px;
    color: var(--text-muted);
}
.markdown-preview-view h6::before{
    content: 'H6';
    font-size: 0.4em;
    margin-left: -15px;
    color: var(--text-muted);
}
.markdown-preview-view h1:hover::before{
    margin-left: 0;
    content: '';
}
.markdown-preview-view h2:hover::before{
    margin-left: 0;
    content: '';
}
.markdown-preview-view h3:hover::before{
    margin-left: 0;
    content: '';
}
.markdown-preview-view h4:hover::before{
    margin-left: 0;
    content: '';
}
.markdown-preview-view h5:hover::before{
    margin-left: 0;
    content: '';
}
.markdown-preview-view h6:hover::before{
    margin-left: 0;
    content: '';
} */